[submodule "Terraform_LocalStack_PlayGround"]
	path = Terraform_LocalStack_PlayGround
	url = https://github.com/ElectriPixie/Terraform_LocalStack_PlayGround.git
	branch = development
[submodule "Terraform_LocalStack_Module"]
	path = Terraform_LocalStack_Module
	url = https://github.com/ElectriPixie/Terraform_LocalStack_Module.git
	branch = development
