[submodule "Terraform_LocalStack_Module"]
	path = Terraform_LocalStack_Module
	url = https://github.com/ElectriPixie/Terraform_LocalStack_Module.git
	branch = development
[submodule "Terraform_LocalStack_PlayGround"]
	path = Terraform_LocalStack_PlayGround
	url = https://github.com/ElectriPixie/Terraform_LocalStack_PlayGround.git
	branch = development
[submodule "Terraform_LocalStack_Lambda"]
	path = Terraform_LocalStack_Lambda
	url = https://github.com/ElectriPixie/Terraform_LocalStack_Lambda.git
	branch = development
[submodule "LocalStack_AWS"]
	path = LocalStack_AWS
	url = https://github.com/ElectriPixie/LocalStack_AWS.git
	branch = development
